@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Oswald:wght@200&display=swap');
body {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif Display', serif;
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid grey;
}
nav div{
	margin-top: 7px;
	margin-left: 700px;
}
img.logo{
	height: 65px;
	width: auto;
}
nav a{
	text-decoration: none;
	color: red;
	margin-right: 15px;
	border-bottom: 1px solid red;
	padding-bottom: 4px;
	font-size: 20px;
}
header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	background: url(https://static-cse.canva.com/blob/187617/free-stock-photos.jpg);
	text-align: center;
	border-bottom: 1px solid red;
	padding: 30px;
}
header h1{
	color:black;
	font-size: 50px;
	border-bottom: 2px solid lightgrey;
	padding: 2px;
}
header h4
{
	color: black;
	margin-top: -20px;
	font-size: 15px;
	font-family: 'Noto Serif Display', serif;
	font-family: 'Oswald', sans-serif;
}
header button{
	padding: 10px 20px;
	background-color: red;
	color: black;
	font-family: 'Noto Serif Display', serif;
	font-family: 'Oswald', sans-serif;
	border-left: none;
	border-top: none;
	font-size: 15px;
	cursor: pointer;
	border-right: 2px solid white;
	border-bottom: 2px solid grey;
	font-style: bold;
}

div.content{
	display: flex;
	flex-direction: horizontal;
	align-items: horizontal;
	color: white;
	justify-content: center;
	padding: 15px;
}

}
div.content h5{
	font-family: 'Noto Serif Display', serif;
	font-family: 'Oswald', sans-serif;
	margin-top: -10px;
	font-size: 15px;
	text-align: left;
}
div.content h3{
	font-family: 'Noto Serif Display', serif;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	text-align: left;
}
div.content button{
	padding: 10px 20px;
	background-color: red;
	color: lightgrey;
	font-family: 'Noto Serif Display', serif;
	font-family: 'Oswald', sans-serif;
	border-left: none;
	border-top: none;
	border-radius: 5px;
	text-align: left;
}
div.content button a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
div.service{
	height: 450px;
	width: 350px;
	margin: 30px;
	background-color: lightgrey;
	cursor: pointer;
	color:red;
	padding-left: 10px;
	border-radius: 10px;  
}
footer{
	background-color: black;
	border-top: 2px solid red;
	color: red;
	margin-left: 7px;
	margin-right: 7px;
}
footer h2{
	text-align: left;
	margin: 15px;
	color: red;
	border-bottom: 1px solid red;
	padding-bottom: 2px;
}
div.num a{
	text-decoration: none;
	background-color: red;
	color: white;
	padding: 4px;
	border-radius: 7px
}
div.copyright{
	font-size: 15px;
	text-align:left;
	margin-bottom: 5px;
	margin-top: 15px;
}
a.social{
	color: red;
	font-family: 'Noto Serif Display', serif;
	font-size: 20px;
	padding-bottom: 3px;
	text-decoration: none;
	border-bottom: 1px solid red;
	margin-top: 4px;
	margin-right: 15px;
}
@media screen and (max-width: 680px){
	nav div{
		margin-left: 0px;
		margin-bottom: 20px;
	}
	nav a{
		font-size: 10px;
	}
}
